{%extends 'base.html'%}

{% block title %}
    Add Blog Post
{% endblock %}

{% block content%}
    {% if user.is_authenticated %}
        <br>
        <h1>Add Post</h1><hr>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary">Post</button>
            </form>
        </div>
        <script>
            var name = "{{ user.id }}";
            document.getElementById("gokul").value = name;
        </script>
    {% else %}
       <br><br>
        <h1>You are not authorised To access This Page!!!</h1>
        <h1>Try Logging in...</h1>
    {% endif %}
{% endblock %}