{%extends 'base.html'%}

{% block title %}
    Delete Blog Post
{% endblock %}

{% block content%}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <br>
            <h1>Delete Post</h1><hr>
            <h3>Delete : {{post.title}}</h3>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}<hr>
                    <strong>Are you sure?</strong><br><hr>
                    <button class="btn btn-primary">Delete Post!!</button>
                </form>
            </div>
         {% endif %}
    {% else %}
        <br><br>
        <h1>You are not authorised To access This Page!!!</h1>
        <h1>Try Logging in...</h1>
    {% endif %}
{% endblock %}