{%extends 'base.html' %}

{% block title %}
    Edit Blog Post
{% endblock %}

{% block content%}
    <br>
    <h1>Update Post</h1>
    <br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Post</button>
                </form>
            </div>
        {% else %}
            Only the author of the blog can Edit This Post
        {% endif %}
    {% else %}
            <br><br>
            <h1>You are not authorised To access This Page!!!</h1>
            <h1>Try Logging in...</h1>
    {% endif %}
{% endblock %}